!!! 5
%html{lang: "#{I18n.locale}"}
  %head
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{charset: 'utf-8'}
    %title= title_content
    /[if lt IE 9]
      %script{src: 'http://html5shim.googlecode.com/svn/trunk/html5.js', media: 'all'}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', media: 'all'
    = csrf_meta_tags
    = favicon_links
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = yield(:meta_block)
    = yield(:head)

  %body{data: {spy: 'scroll', target: '.subnav', offset: 50}}
    %div.container-fluid
      = render :partial => 'layouts/navigation'

      %div.container-fluid
        = render_flashes
        = yield

    .footer.container-fluid
      .row
        .col-md
          %h1 University
          %ul.unstyled
            %li= link_to 'GNE University Schedules', 'https://gneuniversity.org/', target: '_blank'
        .col-md
          %h1 Great Northeastern War
          %ul.unstyled
            %li= link_to 'Great Northeastern War', 'http://malagentia.eastkingdom.org/gnew/', target: '_blank'
            %li= link_to 'Fees and Registration', 'http://malagentia.eastkingdom.org/gnew/general-information/fees', target: '_blank'
        .col-md
          %h1 SCA
          %ul.unstyled
            %li= link_to 'sca.org', 'http://sca.org', target: '_blank'
            %li= link_to 'Membership', 'http://sca.org/members/', target: '_blank'
            %li= link_to 'Resources', 'http://sca.org/links/', target: '_blank'
        .col-md
          %h1 About
          %ul.unstyled
            %li= link_to 'Contact', 'mailto:webminister@ravensbridge.eastkingdom.org', target: '_blank'
            %li= link_to 'Thing?', 'http://en.wikipedia.org/wiki/Thing_(assembly)', target: '_blank'
            %li= link_to 'Changelog', 'https://github.com/aloysiouszeno/thing/wiki/Changelog', target: '_blank'
      .row
        .col
          .copyright Copyright &copy; 2011-2017 by Michael Graff.  Edited for use with GNE by Aloysius Sartore.

    = google_analytics

    = revision
