- title 'Great Northeastern University Policies'

.row
  .col-10.push-1
    %p
      In order to teach a class for GNE University, you must read,
      understand, and agree to the following policies.
    %p
      If there are any questions about these policies, please contact the
      University Chancellor via the contact link at the bottom of this page.

.row.policy-row
  .col-sm-12.col-md-2= render partial: 'accept_button'
  .col-sm-12.col-md-3.policy-title
    GNE University Remunerations 
  .col-sm-12.col-md-7.policy-body
    %p.policy-tldr
      Do not expect to make money for teaching GNE University classes. It is not a sales venue.
    %p
      GNE University is not a profit center or primarily an advertising venue for University Teachers.
    %p
      University classes (classes registered and published in the “Thing”) are not booked and tracked for sales tax compliance or other financial matters. Therefore, GNE University Teachers shall not charge over expenses for materials or be given any compensation in exchange for teaching University classes.
    %p
      Teachers may provide kits and materials for classes (at their cost, which can be collected during the class). They may provide loaner tools (and shared/loaner tools for hands on classes is strongly encouraged), or offer to provide tools and material through their merchant booth, but at no time should the teachers expect any students to pay teacher compensation to attend and reasonably participate in classes.
    %p
      All materials or tools for the class that must specifically be purchased in order to take the class must be clearly published in the description of the class, and the fee/costs clearly stated in the "fees" section of the class registration. 
    %p

.row.policy-row
  .col-sm-12.col-md-2= render partial: 'accept_button'
  .col-sm-12.col-md-3.policy-title
    GNE University Tent Use Policy
  .col-sm-12.col-md-7.policy-body
    %p.policy-tldr
      University tents are
      %em only
      for classes. They should be kept clean and neat. Power, where available in tents, is not a public resource.
    %p
      Tents may only be used for activities approved by the University Chancellor or other GNE staff as designated by the Autocrat or Chancellor.
    %p
      Tents may not be reserved for private, individual, or household parties at any time.
    %p
      Sleeping or camping is prohibited in GNE University tents, except in cases of extreme emergency (i.e., a severe storm or other natural disaster) in which staff have designated the University tents as a shelter point.
    %p
      Teachers are responsible for the condition and cleanliness of the tent when they have finished. If your class includes a process that may produce sharp fragments, splinters, or shards (including but not limited to woodworking or metalworking), you must devise a way to collect any sharp fragments from the tent at the end of your class to avoid the possibility of injury to others.
    %p
      Glass related classes must devise a way of collecting any fragments of broken glass from the tent interior to avoid the possibility of injury to others.
    %p
      While some tents may have power outlets, the total amount of electrical power available to the University is limited. To prevent tripped circuits, electrical outlets in the tents should be used only for class-related activities (i.e., running a computer or projector for a lecture). Use of any equipment requiring significant power draw or running for longer than a normal class time (120 minutes, maximum) must be approved by the University Chancellor or designate.

.row.policy-row
  .col-sm-12.col-md-2= render partial: 'accept_button'
  .col-sm-12.col-md-3.policy-title
    GNE University Youth Policy
  .col-sm-12.col-md-7.policy-body
    %p.policy-tldr
      In classes, youth under 12 need to bring supervision; youth over 12 are OK, as long as it is not an ‘adults only’ class or they get rowdy.  In private camps, all minors need to bring their legal guardian.
    %p
      Youth under 12 years of age must be accompanied at all times by a parent or responsible adult or teenager in all University venues. Unaccompanied minors 12 years or older may attend classes in University venues so long as the classes are not registered as "adults only" and they behave in a respectful attentive manner.
    %p
      In all University sponsored classes in private camps or merchant booths, all minors under 18 MUST be accompanied at all times by a parent or court appoint legal guardian. 
    %p
      No minors will be permitted in "Adults only" classes, with the exception of infants in arms at the Teacher's discretion.
    %p
      All "youth oriented" or "youth only” classes are scheduled and overseen through the youth staff.
    %p
      Any questions or situations outside of this policy will be decided on a one by one basis as needed by University staff and/or the Autocrat and Deputy Autocrats.

.row.policy-row
  .col-sm-12.col-md-2= render partial: 'accept_button'
  .col-sm-12.col-md-3.policy-title
    GNE University Professional Standards of Practice Policy
  .col-sm-12.col-md-7.policy-body
    %p
      If you are providing classes giving a period treatment of medical or legal issues within the historical context, that is a great thing and we strongly encourage such instruction. These classes are required, however, to preface the class session with a statement such as follows:
    %p
      .boxed-text
        "GNE University does not advocate the adoption of any diagnostic
        method or course of treatment not performed by properly licensed
        practitioners in accordance with modern world medical (or legal)
        standard of care. This class will present medically (or legally)
        significant information for purely informational purposes only.
        The University strongly recommends that you always inform, and
        obtain advice from, modern world medical (or legal) professionals before
        altering or starting any course of diagnosis or treatment (or
        engaging in any legal practice) based on this class."
    %p
      No class can be offered that can be reasonably be thought of as taking the place of licensed or otherwise certified caregivers or providers, whether it be as child care (in loco parentis), or as a source of modern world legal, medical or psychological advice. This policy exists due to ongoing liability concerns.
    %p
      The University strongly encourages the study and research of period medical or legal practices. However, the University will not support or endorse any classes that may be reasonably considered to be practicing law or medicine or advocating the practice of law or medicine.  The line is drawn at anything that seems to be advocating, in our classes, any such period practices, offered in any way, such that they may be reasonably considered as standing in lieu of modern world medical or legal advice or giving medical treatment that is at variance with modern world standards of medical care. First-aid and other such classes offered by instructors shall have and be expected to show authoritative modern world certification to give such instruction.

.row.policy-row
  .col-sm-12.col-md-2= render partial: 'accept_button'
  .col-sm-12.col-md-3.policy-title
    GNE University Heat Source Policy
  .col-sm-12.col-md-7.policy-body
    %p.policy-tldr
      Pre-approval is needed to use
      %em any
      heat sources - yes, even a candle – in any University tent, and special care needs to be taken to not damage the tents or tables or chairs.
    %p
      At GNE University heat sources can be used ONLY by pre-approval in a very limited number of tents.  This restriction does not apply to classes held in private encampments.
    %p
      If your class requires use of a heat source (including, but not limited to: candles, camp stoves, hot plates, charcoal burners, Sterno&trade; cans, propane torches), you must obtain prior approval from the University Chancellor or designate. This includes glass classes.  Failure to receive prior approval may result in not scheduling or the cancellation of your class.
    %p
      Classes using heat sources must move tables as far away from tent walls as possible to minimize the chance of damage to the canvas.
    %p
      Small open flame sources such as candles or Sterno&trade; cans must be placed on a fireproof surface to prevent damage to tabletops.
    %p
      Larger flame sources such as camp stoves or charcoal burners must be securely set on a level tabletop and make use of a flame shield/windbreak if available.
    %p
      Propane torches, such as those used for glass bead making, must be securely affixed to the edge of the table at all times, not hand-held or standing on the tabletop, and be pointed away from tent walls.  When working with hot glass, a heatproof surface must cover all tabletops to reduce the possibility of damage or fire.
    %p
      All active heat sources must be supervised at all times.

.row.policy-row
  .col-sm-12.col-md-2= render partial: 'accept_button'
  .col-sm-12.col-md-3.policy-title
    GNE University Publication Policy
  .col-sm-12.col-md-7.policy-body
    %p.policy-tldr
      Only classes listed on this site and in the class book can be called GNE University classes. The University Staff will do its best to publish changes and additions in the best, most timely manner it can.
    %p
      GNE University does not endorse or support any classes that are not scheduled through GNE University and the "Thing". GNE University assumes no responsibility for any classes not registered through its official process. Any classes given by or through third parties or other entities are NOT part of the University.
    %p
      Every reasonable attempt to publish additions, deletions, and changes to the class list will be made, to the best of the Staff's abilities. Unfortunately, these attempts may not be perfectly satisfactory in all cases, especially for last minute and on-site changes.
    %p
      In all cases, the definitive list and schedule of classes will be in Thing and found at http://malagentia.eastkingdom.org/gnew/. The On-site books, the printed schedules displayed near the A&amp;S tents and in Merchant's row are not authoritative. GNE's version of "Thing" is the authoritative and most up to date resource.

.row.policy-row
  .col-sm-12.col-md-2= render partial: 'accept_button'
  .col-sm-12.col-md-3.policy-title
    GNE University Attendance 
  .col-sm-12.col-md-7.policy-body
    %p.policy-tldr
      Materials/handouts, if any, will be distributed equitably, however, students may still sit in on any class even if the teacher runs out of materials.
    %p
      Classes are "first come, first served”, i.e.:  Kits and handouts should be provided in arrival order, where possible to determine. Sharing is of course permitted, but should not be required whenever possible. If there is unresolvable contention for a limited number of kits or handouts, a blind draw lottery is encouraged to select recipients.
    %p
      Attendance counts towards the class war point.  Please sign yourself on as the instructor, and have the students sign in as students, and declare your "side", To determine the winner of the war point, each teacher counts 5, while students count 1 each.  Whichever side has he highest count at the close of classes will earn the class war point for that side. 

.row.policy-row
  .col-sm-12.col-md-2= render partial: 'accept_button'
  .col-sm-12.col-md-3.policy-title
    GNE University Tent Furniture Policy
  .col-sm-12.col-md-7.policy-body
    %p.policy-tldr
      Tables and chairs belong in the tent they are in. Each tent is equipped similarly, 
    %p
      Tents and chairs may be borrowed from unoccupied tents to make up for higher than expected attendance, but
      MUST BE RETURNED AT THE END OF THE CLASS. Please be sure the tent is unoccupied before borrowing chairs.
      Ask students to take the chairs back if they took them as there is no one else to do it.
    %p
      Chairs are very limited in any outlying tent (Battlefield, Fencing, Youth Point, etc.),  For classes in the outlying tents, students need to bring their own chairs. Class descriptions for such classes should have language to that effect added.

.row.policy-row
  .col-sm-12.col-md-2= render partial: 'accept_button'
  .col-sm-12.col-md-3.policy-title
    GNE University Tent Vehicle Use Policy
  .col-sm-12.col-md-7.policy-body
    %p.policy-tldr
      Teachers may drop off class materials at the roadside from a motor vehicle, but must then move the vehicle to legal parking during the class.
    %p
      Privately-owned motorized vehicles may deliver goods such as class materials to the perimeter of the University grounds but cannot remain there for the duration of the class and must be removed immediately after delivery is made. There is no parking on University grounds. You may not drive inside the perimeter without prior approval from the Chancellor or designate.
    %p
      This does not apply to mobility aids or similar personal vehicles and handcarts. 


- if @accept_needed
  .row
    .col-2
    .col-8
      By clicking, you indicate you have read, understand, and accept all GNE University
      policies.
      A copy of these policies will be sent to your email address.
      %br
      =form_tag('/policies/university/accept') do
        %button.btn#policy-accept-all-button{disabled: true} I agree to all policies
